.customer_home-header
  .gallery
    %figure.gallery__item
      = image_tag "app_layout/running.jpeg", alt: "logo", class: "gallery__photo"
    %figure.gallery__item
      = image_tag "app_layout/healtyfood.jpeg", alt: "logo", class: "gallery__photo"
    %figure.gallery__item
      = image_tag "app_layout/women.jpeg", alt: "logo", class: "gallery__photo"
    %figure.gallery__item
      = image_tag "https://source.unsplash.com/YUg5RwlnMKc", alt: "logo", class: "gallery__photo"
  .customer_home-header__header.col.justify-content-between
    %h1.customer_home-header__heading
      = "Welcome #{get_login_user_name}"
    .me-3
      %svg.customer_home-header__nav-icon
        %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-hand-o-down"}
      Categories
      = link_to "Edit customer", edit_customer_registration_path
      |\
      = link_to "Log out", destroy_customer_session_path
      -# .customer_home-header__summary
      -#   %p
      -#     %b= 7
      -#     recipes
%main.datails
  .user-review
    -# = image_tag current_customer.avatar, class: 'user-review__photo'
    = gravatar_for current_customer
    %p.paragraph
      %b Customer's goal 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, praesentium iusto! Ipsa impedit nesciunt in eligendi, adipisci, cum qui unde culpa amet dolorum id corporis voluptate eaque blanditiis nihil quas!
    %ul.list
      %h3 Your details:
      %li.list__item
        %b Mifflin-St Jeor BMR:
        = current_customer.bmr.to_i
      %li.list__item
        %b Your weight:
        = current_customer.weight
      %li.list__item
        %b Your height:
        = current_customer.height
  .description
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum facilis corporis, dolorum unde minima non doloribus provident molestias nam ea harum dolores inventore! Dolor est harum minus, sequi nam facere.