= form_for @customer_recipe, html: {class: 'form'} do |f|
  - if @customer_recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer_recipe.errors.count, "error")} prohibited this customer_recipe from being saved:"
      %ul
        - @customer_recipe.errors.full_messages.each do |message|
          %li= message

  .form__group
    = f.label :name
    = f.text_field :name
  = f.hidden_field :recipe_id
  %h2 List of ingredients
  .form__group.skladnik
    = f.fields_for :customer_diets do |builder|
      = render 'customer_diets_fields', f: builder
  - if @recipe !=nil
    %h2= @recipe.name

    = image_tag(@recipe.photo_url(:thumb).to_s)

  .actions
    = f.submit 'Save'
