= form_for([@customer, @task], html: { class: 'form' }) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.select(:exercise_id, Exercise.all.collect { |p| [p.name, p.id] }, {include_blank: 'Choose exercise'}, placeholder: "Exercise", class: "form__input", autofocus: true)
    = f.label :exercise_id, "Exercise", class: "form__label"
  .form-group
    = f.date_field :date, class: 'form__input'
    = f.label :date, 'Date', class: "form__label"
  .form-group
    = f.number_field :time, class: 'form__input'
    = f.label :time, 'Training time in minutes', class: "form__label"
  .form-group
    = f.text_area :marks, class: 'form__input', rows: 20
    = f.label :marks, 'Training time in minutes', class: "form__label"
  .actions
    = f.submit 'Add', class: 'btn btn-primary'
