.recipe
  = render partial: 'partials/main_header'
  .recipe__header.mt-1
    %h1.recipe__heading
      %h1.h2
        %svg.side-nav__icon.mr-2
          %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-bowl"}
        Recipes list
        = @recipes.size
      .ml-3.mr-3.mb-3 
      .ml-3.mr-3.mb-3
        = add_button "Add recipe", new_recipe_path, title: "Add recipe"

  -# = will_paginate @recipes, class: "line-bottom"
  .recipe__list-group
    - @recipes.each do |recipe|
      %a{href: "/recipes/#{recipe.id}"}  
        .recipe__list-group-item
          .main
            .recipe__photo-summary
              = image_tag recipe.photo.variant(:thumb) if recipe.photo.attached?
            .recipe__details
              %b= link_to recipe.name, recipe_path(recipe)
              -# - if recipe.ingredients.present?
              -#   - recipe.ingredients.each do |ingredient|
              -#     %small= ingredient.name
              -# %small= recipe.ingredients
              = recipe.summary
          .recipe__summary-bottom
            %svg
              %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-clock-o"}
            50min
            %svg
              %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-power"}
            5000kcal
            -# = recipe.summary[:energy].to_i.to_s + "kcal"
            %svg
              %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-thumbs-o-up"}
            Easy
            <!-- = recipe.summary -->
            .text-center.mt-3
              -# %span{title: "Publicznie dostęny?"}= yes_no_icon(recipe.open_approved).html_safe
              -# - if can?(:edit, recipe)
              = edit_outline_button 'Edit', edit_recipe_path(recipe)
              -# - if can?(:delte, recipe)
              -# = link_to 'Usuń', [:admin, recipe], method: :delete, data: { confirm: 'Jesteś pewny?' }
              = delete_outline_button 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Jesteś pewny?' }
              


  %br

= add_button "New recipe", new_recipe_path, class: "m-3", title: "Add recipe"
%hr