= form_for @ingredient, html: {class: 'form'} do |f|
  - if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |message|
          %li= message

  .form__group
    = f.text_field :name, class: "form__input", placeholder: "Product name", autofocus: true
    = f.label :name, class: "form__label"
  .form-group
    =f.collection_select(:ingredient_category_id, IngredientCategory.all, :id, :name, placeholder: "Category", class: "form__input")
    =f.label :ingredient_category_id, "Category", class: "form__label"
  .form__group
    = f.number_field :energy, class: "form__input", placeholder: "Quantity kcal in 100g"
    = f.label :energy, class: "form__label"
  .form__group
    = f.number_field :protein, class: "form__input", placeholder: "Quantity protein in 100g"
    = f.label :protein, class: "form__label"
  .form__group
    = f.number_field :fat, class: "form__input", placeholder: "Quantity fat in 100g"
    = f.label :fat, class: "form__label"
  .form__group
    = f.number_field :carbohydrate, class: "form__input", placeholder: "Quantity carbohydrate in 100g"
    = f.label :carbohydrate, class: "form__label"
  .actions
    = f.submit 'Save', :class => 'my-btn my-btn--pink my-btn--width btn-lg'
