.inner-container-2.mt-3
  %table.table.table-light.table-striped
    %thead.thead-dark
      %tr
        %th Name
        %th Description
        %th Customers
        %th{colspan: '3'}

    %tbody
      - habits.each do |habit|
        %tr
          %td= habit.name
          %td= habit.description
          %td= habit.customers_amount
          /%td= link_to 'Szczegøły', habit
          %td
            %button.btn.btn-success{"data-target" => "#myModal-habit#{habit.id}", "data-toggle" => "modal", :type => "button"}
              Szczegoły...
          %td= link_to 'Edytuj', edit_habit_path(habit), remote: true, class: 'btn my-btn--pink'
          - unless habit.has_customers?
            %td= link_to 'Usun', habit, method: :delete, data: { confirm: 'Jestes pewien?' }, remote: true, class: 'btn btn-danger'
          - else
            %td{"data-content" => "#{habit.customers_amount} klientów przypisanych do tej opcji!", "data-toggle" => "popover", :title => "Nie możesz usunąć"}= link_to '-------', "#", class: 'btn btn-light'
        = render partial: 'partials/customer_info/modal', locals: {object: habit, title: 'Złe nawyki', type: 'habit'}

  %br

  = link_to 'Nowy', new_habit_path, class: 'my-btn my-btn--pink my-btn--3', remote: true