<section class="form-all">
  <div class="edit_customer__form">
    <h1 class="heading-secondary heading-secondary__form">Edit your personal details</h1>

    <%= form_for @customer, url: customer_path, html: { method: :put, class: 'form' } do |f| %>
    <div class="form-group">
      <%= (image_tag @customer.avatar, class: 'form__group--image') if @customer.avatar? %>
      <%= f.file_field :avatar, class: "form__input" %>
      <%= f.label :avatar, class: "form__label" %>
    </div>


    <div class="form-group">
      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form__input"  %>
      <%= f.label :first_name, class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form__input"  %>
      <%= f.label :last_name, class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.text_field :username, placeholder: "Nick", class: "form__input"  %>
      <%= f.label :username, class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autocomplete: "email", class: "form__input"  %>
      <%= f.label :email, class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.text_field :phone_number, placeholder: "Phone number", class: "form__input"  %>
      <%= f.label :phone_number , class: "form__label"%>
    </div>

    <div class="form-group">
      <%= f.select(:sex, Customer.sexes.keys, placeholder: "Woman", class: "form__input")  %>
      <%= f.label :sex, class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.select(:body_type_id, BodyType.all.collect {|p| [ p.name, p.id ] }, placeholder: "Body type", class: "form__input")  %>
      <%= f.label :body_type_id, "Body type", class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.text_field :age, placeholder: "YOB", class: "form__input"  %>
      <%= f.label :age, 'YOB', class: "form__label", title: 'Year Of Born' %>
    </div>

    <div class="form-group">
      <%= f.text_field :height, placeholder: "Heigth", class: "form__input"  %>
      <%= f.label :height, class: "form__label" %>
    </div>

    <div class="form-group">
      <%= f.text_field :weight, placeholder: "Weight", class: "form__input"  %>
      <%= f.label :weight, 'Weight', class: "form__label" %>
    </div>


    <div class="actions">
      <%= f.submit "Save", :class => 'my-btn my-btn--pink my-btn--width btn-lg' %>
    </div>
    <% end %>
    <div class='form__links'>

      <%= link_to "Back", :back %>
    </div>
  </div>
</section>