.recipe
  = render partial: 'partials/main_header'
  .recipe__header
    %h1.recipe__heading
      Customers
    .recipe__nav
      - if params[:keywords].present?
        %svg.recipe__nav-icon
          %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-search"}
        = @customers.count
        results
    .recipe__summary
      %p
        %b= @count
        customers
  %section.search-form.p-5
    = form_for :customers, method: :get do |f|
      .input-group
        = label_tag :keywords, nil, class: "sr-only"
        = text_field_tag :keywords, nil, placeholder: "First name, Surname lub Email", class: "form-control input-lg"
        %span.input-group-prepend
          = submit_tag "Search", class: "btn btn-primary"

  %section.search-results.px-5
    %header
    - if @customers.present?
      = render partial: "pager", locals: {keywords: @keywords, page: @page}
    %ol.list-group
    - @customers.each do |customer|
      %ul.list-group
        %a.list-group-item.list-group-item-action.clearfix{href: "/customers/#{customer.id}"}
          %ul.list-group.list-group-horizontal
            %li.list-group-item 
              = gravatar_for customer
            %li.list-group-item.w-100 
              %h3
                %small Phone number:
                = customer.phone_number
              %h2
                = customer.first_name 
                = customer.last_name
              %h5= customer.username
              %h4.float-left= customer.email
            %li.list-group-item.clearfix
              = button_to "<i class=\"fas fa-trash-alt\"> </i> Delete".html_safe, customer, method: :delete, class: "my-btn my-btn--outline-primary p-1 pl-2 pr-2 ml-5", style: "margin-left: 5px;"


    = link_to 'Add new customer', new_customer_registration_path, class: 'my-btn my-btn--pink my-bottom__link my-3 ms-0 p-1 px-3'