%p#notice= notice

%p
  %b Contusions:
  = @profil.contusions
%p
  %b Sickness:
  = @profil.sickness
%p
  %b Description:
  = @profil.description

= link_to 'Edit', edit_customer_profil_path(@profil.customer_id)
\|
= link_to 'Back', customer_profil_path
