!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) + " | CRM Trener Dhruvi"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = flash_messages
    -if notice.present?
      %aside.alert.alert-info
        = notice
    -if alert.present?
      %aside.alert.alert-danger
        = alert
    .my-container
      %header.header
        = link_to_login_in_root()

        <!-- FORMULARZ -->
        - if get_type_of_login == 'users'
          = form_for :customers, method: :get, :html => {class: 'search'} do |f|
            = text_field_tag :q, nil, placeholder: "Składnik, Dieta", class: "search__input", data: {behavior: "autocomplete"}, id: 'search'
            %button.search__button
              %svg.search__icon
                %use{"xlink:href" => "#{asset_pack_path('images/sprite.svg')}#icon-magnifying-glass"}
        ////////////////////////////////////////////////////////////////////////////////////////////////////
        <!-- = javascript_pack_tag 'javascript/search' -->
        %script
          let input = $('#search');
          let options = {
          getValue: "name",
          url: function(phrase){
          return "/search?q=" + phrase;
          },
          categories: [
          {listLocation: 'customers' ,header: "<strong>----- Klienci -----</strong>"},
          {listLocation: 'recipes' ,header: "<strong>----- Przepisy -----</strong>"},
          {listLocation: 'ingredients' ,header: "<strong>----- Składniki -----</strong>"}
          ],
          getValue: "name",
          list:{
          maxNumberOfElements: 20,
          onChooseEvent: function(){let url = input.getSelectedItemData().url;console.log(url);window.location.href = url;},
          showAnimation: {
          type: "fade", //normal|slide|fade
          time: 400,
          callback: function() {}
          },
          }}

          input.easyAutocomplete(options);

        ////////////////////////////////////////////////////////////////////////////////////////////////////


        <!-- USER-NAV -->
        %nav.user-nav
          %a.user-nav__icon-box{title: "Powiadomienia", href: "#{log_in? ? '/static_pages/' + get_type_of_login + 'home' : '#'}"}
            %svg.user-nav__icon
              -# %use{"xlink:href" => "#{asset_pack_path('images/sprite.svg')}#icon-bookmark"}
            %span.user-nav__notification= log_in? ? @notification_size : 0
          %a.user-nav__icon-box{title: "Alerty na dziś", href: "#{log_in? ? '/static_pages/' + get_type_of_login + 'home' : '#'}"}
            %svg.user-nav__icon
              -# %use{"xlink:href" => "#{asset_pack_path('images/sprite.svg')}#icon-calendar-o"}
            %span.user-nav__notification=  0
          %a.user-nav__icon-box{title: "Nowe Wiadomosci", href: "/conversations"}
            %svg.user-nav__icon
              -# %use{"xlink:href" => "#{asset_pack_path('images/sprite.svg')}#icon-envelope-o"}
            %span.user-nav__notification= 0
          .user-nav__user
            -# - if log_in?
            -#   = render "layouts/login_user_submenu"   
            -# - else
            -#   = link_to 'Zaloguj sie',  new_admin_customer_session_path
                
      .content
        - if get_type_of_login == 'users'
          %nav.sidebar
            %ul.side-nav
              -# - if get_type_of_login == 'users'
              = render "layouts/admin_menu"
            -# - elsif get_type_of_login == 'customers'
              -# = render "layouts/customer_menu"  

            %a(href="http://www.msypniewski511.co.uk/")
              %span.legal &copy; 2019 Maciej Sypniewski.
        - unless log_in?
          %main.main-view.main-view
            = yield
        - else
          %main.main-view.main-view-korwa
            = yield