!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) + " | CRM Trener Dhruvi"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{crossorigin: "anonymous", integrity: "sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=", src: "https://code.jquery.com/jquery-3.7.1.min.js"}
    %script{crossorigin: "anonymous", integrity: "sha512-Z/2pIbAzFuLlc7WIt/xifag7As7GuTqoBbLsVTgut69QynAIOclmweT6o7pkxVoGGfLcmPJKn/lnxyMNKBAKgg==", referrerpolicy: "no-referrer", src: "https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"}

    
    %link{crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity: "sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", rel: "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/

    %link{href: "https://unpkg.com/trix@2.0.0/dist/trix.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js", type: "text/javascript"} 

    %link{href: "https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css", rel: "stylesheet"}/
    
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    
    -# = javascript_importmap_tags
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = flash_messages
    -if notice.present?
      %aside.alert.alert-info
        = notice
    -if alert.present?
      %aside.alert.alert-danger
        = alert
    - unless log_in?
      %main.dhruvi-help
        %main.main-view
          = yield
    - else
      .my-container 
        %header.header
          = image_tag "logo.png", alt: "logo", class: "logo"
          <!-- FORMULARZ -->
          <!-- FORMULARZ -->
          = form_for :customers, method: :get, :html => {class: 'search'} do |f|
            = text_field_tag :keywords, nil, placeholder: "Imie, Nazwisko lub Email adres", class: "search__input"
            %button.search__button
              %svg.search__icon
                %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-magnifying-glass"}

          <!-- USER-NAV -->
          %nav.user-nav
            .user-nav__icon-box
              %svg.user-nav__icon
                %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-bookmark"}
              %span.user-nav__notification 10
            .user-nav__icon-box
              %svg.user-nav__icon
                %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-chat"}
              %span.user-nav__notification 8
            .user-nav__user
              = image_tag "Maciej.jpg", class: "user-nav__user-photo", alt: "Maciej"
              %span.user-nav__user-name Maciej

        .content
          %nav.sidebar
            %ul.side-nav
              %li{class: "#{(action_name == 'home' && controller_name == 'main')?'side-nav__item side-nav__item--active':'side-nav__item'}"}
                %a.side-nav__link{href: "/"}
                  %svg.side-nav__icon
                    %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-home"}
                  %span Dashboard
              %li{class: "#{(action_name == 'index' && controller_name == 'customers')?'side-nav__item side-nav__item--active':'side-nav__item'}"}
                %a.side-nav__link{href: "/customers"}
                  %svg.side-nav__icon
                    %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-location-restroom"}
                  %span Customers
              %li{class: "#{(action_name == 'index' && controller_name == 'trenings')?'side-nav__item side-nav__item--active':'side-nav__item'}"}
                %a.side-nav__link{href: "#"}
                  %svg.side-nav__icon
                    %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-accessibility"}
                  %span Treningi
              %li{class: "#{(controller_name == 'recipes')?'side-nav__item side-nav__item--active':'side-nav__item'}"}
                %a.side-nav__link{href: "/recipes"}
                  %svg.side-nav__icon
                    %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-bowl"}
                  %span Recipes
              %li{class: "#{(controller_name == 'ingredients')?'side-nav__item side-nav__item--active':'side-nav__item'}"}
                %a.side-nav__link{href: "/ingredients"}
                  %svg.side-nav__icon
                    %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-bowl"}
                  %span Ingredients
            %span.legal &copy; 2019 Maciej Sypniewski.
          %main.main-view
            = yield