!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title) + " | CRM Trener Dhruvi"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{crossorigin: "anonymous", integrity: "sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=", src: "https://code.jquery.com/jquery-3.7.1.min.js"}
    %script{crossorigin: "anonymous", integrity: "sha512-Z/2pIbAzFuLlc7WIt/xifag7As7GuTqoBbLsVTgut69QynAIOclmweT6o7pkxVoGGfLcmPJKn/lnxyMNKBAKgg==", referrerpolicy: "no-referrer", src: "https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"}

    
    %link{crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity: "sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", rel: "stylesheet"}/
    %link{crossorigin: "anonymous", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", integrity: "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==", referrerpolicy: "no-referrer", rel: "stylesheet"}/

    %link{href: "https://unpkg.com/trix@2.0.0/dist/trix.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js", type: "text/javascript"} 

    %link{href: "https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css", rel: "stylesheet"}/
    
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    
    -# = javascript_importmap_tags
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    -# = javascript_include_tag "jquery"
    = javascript_include_tag :cocoon
  %body
    = flash_messages
    
    - unless log_in?
      %main.dhruvi-help
        %main.main-view
          = yield
    - else
      .my-container 
        .content
          %main.main-view
            = yield
            .nav-container{style:"position: sticky !important; bottom: 0 !important;"}
              .navigation
                %ul#menu_bottom
                  %li.list.active
                    %a{href: "#home"}
                      %span.icon
                        %i.fa-solid.fa-house
                      %span.text Home
                      %span.circle
                  %li.list
                    %a{href: "#profile"}
                      %span.icon
                        %i.fa-solid.fa-user
                      %span.text Profile
                      %span.circle
                  %li.list
                    %a{href: "#dieta-1"}
                      %span.icon
                        %i.fa-solid.fa-pizza-slice
                      %span.text Diets
                      %span.circle
                  %li.list
                    %a{href: "#messages"}
                      %span.icon
                        %i.fa-solid.fa-message
                      %span.text Messages
                      %span.circle
                  %li.list
                    %a{href: "javascript: void(0)"}
                      %span.icon
                        %i.fa-solid.fa-gear
                      %span.text Settings
                      %span.circle
                  .indicator
%script 
  const list = document.querySelectorAll('.list')
  console.log('Korwa')

  function activeLink() {
  list.forEach((item) => {
  item.classList.remove('active')
  })
  this.classList.add('active')
  }

  list.forEach((item) => item.addEventListener('click', activeLink))

  -# Javascript spy
  const sections = document.querySelectorAll('section');
  console.log(sections)
  const navLinks = document.querySelectorAll('ul#menu_bottom li')
  console.log(navLinks)
  window.onscroll = () => {
  sections.forEach(sec => {
  let top = window.scrollY;
  let offset = sec.offsetTop - 150;
  let height = sec.offsetHeight;
  let realHeight = sec.scrollHeight
  let id = sec.getAttribute('id')
  console.log(`top: ${top}, real height: ${realHeight}, offset: ${offset}`)
  -# if(top >= realHeight){
  if(top >= offset && top < offset + height) {

  let active_element = document.querySelector('ul#menu_bottom li a[href*=' + id + ']')
  active_element.parentElement.classList.add("active")
  console.log(document.querySelector('ul#menu_bottom li a[href*=' + id + ']').parentElement)



  navLinks.forEach(links => {
  console.log(links)
  links.classList.remove("active")
  -# document.querySelector('ul#menu_bottom li).classList.add('active')
  })
  -# let active_element = document.querySelector('ul#menu_bottom li a[href*=' + id + ']')
  active_element.parentElement.classList.add("active")
  }
  
  })
  }
  -# window.onscroll = () => {
  -# console.log("korwa")
  -# sections.forEach(sec => {
  -# let top = window.scrollY;
  -# let offset = sec.offsetTop;
  -# let height = sec.offsetHeight;
  -# let id = sec.getAttribute('id')

  -# if(top >= offset && top < offset + height) {
  -# navLinks.forEach(links => {
  -# console.log(links)
  -# links.classList.remove("active")
  -# -# document.querySelector('ul#menu_bottom li).classList.add('active')
  -# console.log(document.querySelector('ul#menu_bottom li).classList)
  -# })
  -# }
  -# })
  -# }


%link{crossorigin: "anonymous", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", integrity: "sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==", referrerpolicy: "no-referrer", rel: "stylesheet"}/
%script{crossorigin: "anonymous", integrity: "sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==", referrerpolicy: "no-referrer", src: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"}