%header.header
  .logo.d-bloc
    = image_tag "logo.png", alt: "logo", class: "logo"
    
  <!-- FORMULARZ -->
  = form_with url: search_path, local: true, method: :get, html: { class: 'search'} do |form|
    = form.text_field  :q, placeholder: 'First name, Last name or Email', data: {behavior: "autocomplete"}, id: 'easyAutocompleteA', class: 'search__input'
    = form.button "search", class: 'search__button' do
      %svg.search__icon
        %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-magnifying-glass"}
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  <!-- = javascript_pack_tag 'javascript/search' -->
  %script
    let input = $('#easyAutocompleteA');
    let options = { 
    getValue: "name",
    url: function(phrase){
    return "/search?q=" + phrase;
    },
    categories: [
    {
    listLocation: 'customers',
    header: "<strong>Customers</strong>"
    },
    {
    listLocation: 'ingredients',
    header: "<strong>Ingredients</strong>"
    },
    {
    listLocation: 'recipes',
    header: "<strong>Recipes</strong>"
    }
    ],
    list:{maxNumberOfElements: 20,onChooseEvent: function(){let url = input.getSelectedItemData().url;console.log(url);window.location.href = url;},showAnimation: {type: "fade", time: 400,callback: function() {}},}}
    input.easyAutocomplete(options);
  ////////////////////////////////////////////////////////////////////////////////////////////////////
  <!-- USER-NAV -->
  %nav.user-nav
    .user-nav__icon-box
      %svg.user-nav__icon
        %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-bookmark"}
      %span.user-nav__notification 10
    .user-nav__icon-box{title: "Messages"}
      %a(href="http:/conversations") 
        %svg.user-nav__icon
          %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-chat"}
        %span.user-nav__notification= current_user.unread_messages.size
    .user-nav__user
      - if log_in?
        = gravatar_for_login(get_login_user)
        /= image_pack_tag "images/Maciej.jpg", class: "user-nav__user-photo", alt: "Maciej"
        %span.user-nav__user-name
          = get_login_user_name
          %svg.user-nav__icon.color-primary
            %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-caret-down"}
        %nav.sidebar.user-nav__user-sidebar
          %ul.user-nav__user-menu
            %li.user-nav__user-item
              %a.user-nav__user__link{href: "/#{get_type_of_login}/edit"}
                %svg.side-nav__icon
                  %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-pencil1"}
                %span Edit your data
            %li.user-nav__user-item.user-nav__user-theme-chooser
              %a.user-nav__user__link{href: '#'}
                %svg.side-nav__icon
                  %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-paint-brush"}
                %span Choose theme
                %ul.user-nav__user-theme__choose#theme-chooser

            %li.user-nav__user-item
              %a.user-nav__user__link{href: "/#{get_type_of_login}/sign_out", "data-method" => 'delete'}
                %svg.side-nav__icon
                  %use{"xlink:href" => "#{asset_path('sprite.svg')}#icon-power-off"}
                %span Logout

      - else
        = link_to 'Log in',  new_customer_session_path